.connectors {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
}

.connector {
  padding: 0.5rem 1rem;
  /* border: 1px solid #c3c5cb; */
  /* border-width: 4px; */
  border-radius: 20px;
  border-style: solid;
  /* border-image: linear-gradient(45deg, #ac50ef, #7059fb 50%, #2ecff6) 1; */
  border: double 4px transparent;
  background: linear-gradient(30deg, #ac50ef, #7059fb 50%, #2ecff6);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  display: flex;
  justify-content: flex-end;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 1rem;
}

.connector label {
  flex-grow: 1;
  font-weight: 500;
}

.connector .status {
  width: 1rem;
  /* fill: #6248ff; */
  fill: #c63721;
}

.connector .status.active {
  /* fill: #AC50EF; */
  fill: #187730;
}

@media (max-width: 727px) {
  .connectors {
    margin: 0 0 1rem;
  }

  .connector {
    width: 360px;
  }
}
