.container {
  /* padding: 0 2rem; */
}

.i18n {
  align-items: center;
  column-gap: 0.5rem;
  display: flex;
  height: 2rem;
  justify-content: flex-end;
}

.main {
  color: white;
  min-height: 100vh;
  padding: 0 0 2rem;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("newbackground.jpg");
  background-size: 1650px;
  background-attachment: fixed;
}

.title {
  margin: 0;
  font-size: 32px;
  font-weight: 600;
  /* padding-top: 30px; */
  color: white;
}

.demo {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 2rem 0;
  gap: 0px;
  /* border-color: #ccd0d5;
  border-radius: 100px; */
}

.connectors {
  align-self: flex-start;
  border-radius: 1em;
  border-image: linear-gradient(45deg, #ac50ef, #7059fb 50%, #2ecff6);
}

@keyframes spotlight {
  10% {
    background-color: #e2e3e9;
  }
  20% {
    background-color: #e2e3e9;
  }
}

.connectors:focus {
  animation: 2.5s ease-out 1 spotlight;
}

.widget {
  /* background-color: #f7f8fa; */
  background: linear-gradient(45deg, #ac50ef, #7059fb 50%, #2ecff6);
  border-radius: 16px;
  height: 358px;
  width: 362px;
  /*border-color: #ccd0d5;*/
  /* border-color: linear-gradient(45deg, #ac50ef, #7059fb 50%, #2ecff6); */
  padding: 1px;
}

.rule {
  border: 1px solid #c3c5cb;
  margin: 0;
  width: calc(100% - 2rem);
  /*column-rule-color: #7059fb;*/
  max-width: 664px;
  /* border: 0;
  height: 2px;
  background-image: linear-gradient(45deg, #ac50ef, #7059fb 50%, #2ecff6); */

}

@media (max-width: 727px) {
  .demo {
    flex-direction: column;
  }

  .connectors {
    align-self: center;
  }
}
